h2 {
  text-align: center;
}
ul li {
  list-style-type: none;
}
ul.flex-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-item {
  background: tomato;
  width: calc(100% / 5.5);
  padding: 5px;
  height: auto;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}
ul.flex-container img {
  display: initial;
  width: 200px;
}
.showItems {
  display: inline-block;
  margin-left: -35px;
}
.showItems li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}